@use "./../variables.scss" as vm;
@use "./../mixins.scss" as mixin;

.chartsLayout{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 835px;
}
.charts__container{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}