@use "./../variables.scss" as vm;

.header{
    background-color: vm.$primaryBlack;
    &__container{
        display: flex;        
        max-height: 91px;
        padding: 1% 1%;
        .homeLinkLogo{
            display: flex;
            align-items: center;
        }
    }
}