@use "./../variables.scss" as vm;

.header{
    background-color: vm.$primaryBlack;
    height: 100%;
    max-height: 91px;
    &__container{
        display: flex;              
     
        padding: 1% 1%;
        .homeLinkLogo{
            display: flex;
            align-items: center;
        }
    }
}