@use "../variables.scss" as vm;

.chartContainer__radarChart{
        display: flex;
        width: 100%;
        height: 100%;
        background-color: vm.$secondaryDark-gray;
        border-radius: 5px;
       
}