@use "../variables.scss" as vm;

.chartContainer__radialChart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: vm.$secondaryLight-gray;
    border-radius: 5px;
}