@use "../../Var_Mixins.scss" as vm;

.homeLinkLogo{
    display: flex;
    width: 12rem;
    height: 4rem;
    align-content: center;
    & img{
        width: 100%;
        height: 100%;        
    }
}
