@use "./../variables.scss" as vm;

.profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 5vh;
  box-sizing: border-box;
  .userProfile{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;  
    height: 100vh;
    width: 81vw;
    max-height:78vh;
    column-gap: 7vh;
    box-sizing: border-box;
  }
}
