@use "../variables.scss" as vm;


.keyDataCard{
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 73.5vh;
    width: 35%;
    row-gap: 4vh;
    box-sizing: border-box;
    justify-content: space-between;
}