@use "../variables.scss" as vm;


.keyDataCard{
    display: flex;
    flex-direction: column;
    //align-self: flex-start;
    height: 100vh;
    max-height: 615px;
    width: 35%;
    padding: 1vh;
    row-gap: 1vh;
    box-sizing: border-box;
}