@use "../variables.scss" as vm;

.chartContainer__lineChart {
    display: flex;
        position: relative;
        width: 100%;
        height: 300px;
        background-color: vm.$tertiaryRed;
        border-radius: 5px;
        padding: 20px;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 25%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.0975);
            border-radius: 5px;
           
        }        
}