@use "../variables.scss" as vm;

.chartContainer__radarChart{
        display: flex;
        width: 30vw;
        height: 30vh;
        box-sizing: border-box;
        background-color: vm.$secondaryDark-gray;
        border-radius: 5px;
       
}