@use "../variables.scss" as vm;

.chartContainer__radialChart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 30vh;
    background-color: vm.$secondaryLight-gray;
    border-radius: 5px;
    box-sizing: border-box;
}