@use"../variables.scss" as vm;

.userKeyData{
    display: flex;
    align-items: center;
    gap: 4vh;
    min-width: 150px;
    width: 100%;
    box-sizing: border-box;
    background-color: vm.$secondaryLight-gray;
    border-radius: 8px;
    padding: 2.5vh;
    .userKeyData__icon{
        height: 60px;
        width: 60px;
    }
    .userKeyData__info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        height: 60px;
        .userKeyData__value{
            font-size: vm.$fontSize20;
            font-weight: vm.$fontWeight700;
            color: vm.$secondaryMedium-gray;
        }
        .userKeyData__text{
            font-weight: vm.$fontWeight500;
            font-size: vm.$mainFontSize14;
            color: vm.$secondaryMedium-gray;
        }
    }
   

}